SF Salaries 
Welcome to a quick exercise for you to practice your pandas skills! We will be using the SF Salaries Dataset Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

Q1:What is the average BasePay ?

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("D:\datasets2\salaries.csv")
print(df)

            Id       EmployeeName  \
0            1     NATHANIEL FORD
1            2       GARY JIMENEZ
2            3     ALBERT PARDINI
3            4  CHRISTOPHER CHONG
4            5    PATRICK GARDNER
...        ...                ...
148649  148650      Roy I Tillery
148650  148651       Not provided
148651  148652       Not provided
148652  148653       Not provided
148653  148654          Joe Lopez

                                              JobTitle    BasePay  \
0       GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY  167411.18
1                      CAPTAIN III (POLICE DEPARTMENT)  155966.02
2                      CAPTAIN III (POLICE DEPARTMENT)  212739.13
3                 WIRE ROPE CABLE MAINTENANCE MECHANIC   77916.00
4         DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)  134401.60
...                                                ...        ...
148649                                       Custodian       0.00
148650                                    Not provided        NaN
148651                                    Not provided        NaN
148652                                    Not provided        NaN
148653                      Counselor, Log Cabin Ranch       0.00

        OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  Year  \
0              0.00  400184.25       NaN  567595.43         567595.43  2011
1         245131.88  137811.38       NaN  538909.28         538909.28  2011
2         106088.18   16452.60       NaN  335279.91         335279.91  2011
3          56120.71  198306.90       NaN  332343.61         332343.61  2011
4           9737.00  182234.59       NaN  326373.19         326373.19  2011
...             ...        ...       ...        ...               ...   ...
148649         0.00       0.00       0.0       0.00              0.00  2014
148650          NaN        NaN       NaN       0.00              0.00  2014
148651          NaN        NaN       NaN       0.00              0.00  2014
148652          NaN        NaN       NaN       0.00              0.00  2014
148653         0.00    -618.13       0.0    -618.13           -618.13  2014

        Notes         Agency  Status
0         NaN  San Francisco     NaN
1         NaN  San Francisco     NaN
2         NaN  San Francisco     NaN
3         NaN  San Francisco     NaN
4         NaN  San Francisco     NaN
...       ...            ...     ...
148649    NaN  San Francisco     NaN
148650    NaN  San Francisco     NaN
148651    NaN  San Francisco     NaN
148652    NaN  San Francisco     NaN
148653    NaN  San Francisco     NaN

[148654 rows x 13 columns]

In [4]:
print(df.shape[0])

148654

In [5]:
df.isnull().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                609
OvertimePay              4
OtherPay                 4
Benefits             36163
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              148654
dtype: int64

In [6]:
df2=df['BasePay'].dropna()

In [7]:
print(df2)

0         167411.18
1         155966.02
2         212739.13
3          77916.00
4         134401.60
            ...
148645         0.00
148647         0.00
148648         0.00
148649         0.00
148653         0.00
Name: BasePay, Length: 148045, dtype: float64

In [8]:
print(df2.shape[0])

148045

In [9]:
print(df2.mean())

66325.44884048768

What is the highest amount of OvertimePay in the dataset ?

In [10]:
print(df['OvertimePay'].max())

245131.88

What is the job title of JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).

In [11]:
df3=df[df['EmployeeName']=="JOSEPH DRISCOLL"]
print(df3['JobTitle'].value_counts())

JobTitle
CAPTAIN, FIRE SUPPRESSION    1
Name: count, dtype: int64

In [12]:
print(df3['JobTitle'].values)

['CAPTAIN, FIRE SUPPRESSION']

How much does JOSEPH DRISCOLL make (including benefits)?

In [13]:
print(df3['TotalPayBenefits'].values)

[270324.91]

What is the name of highest paid person (including benefits)?

In [14]:
a=df['TotalPayBenefits'].max()
print(a)
df4=df[df['TotalPayBenefits']==a]
df4['EmployeeName'].values[0]

567595.43

'NATHANIEL FORD'

What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid? 
Note: with full details

In [15]:
b=df['TotalPayBenefits'].min()
print(b)
df5=df[df['TotalPayBenefits']==b]
print(df5)

-618.13
            Id EmployeeName                    JobTitle  BasePay  OvertimePay  \
148653  148654    Joe Lopez  Counselor, Log Cabin Ranch      0.0          0.0

        OtherPay  Benefits  TotalPay  TotalPayBenefits  Year  Notes  \
148653   -618.13       0.0   -618.13           -618.13  2014    NaN

               Agency  Status
148653  San Francisco     NaN

In [16]:
print(df5['EmployeeName'].values[0])
print("the strange thing his basic pay is 0,benfits is 0,overtime is zero but he other pay is in negative")

Joe Lopez
the strange thing his basic pay is 0,benfits is 0,overtime is zero but he other pay is in negative

What was the average (mean) BasePay of all employees per year? (2011-2014) ?

In [17]:
avg_base_pay=df.groupby(['Year'])
print(avg_base_pay['BasePay'].mean())

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

How many unique job titles are there?

In [18]:
a=df['JobTitle'].value_counts()
title_len=len(a)
print(title_len)

2159

What are the top 5 most common jobs?

In [19]:
from collections import Counter
a=Counter(df['JobTitle'])
print(a.most_common(5))

[('Transit Operator', 7036), ('Special Nurse', 4389), ('Registered Nurse', 3736), ('Public Svc Aide-Public Works', 2518), ('Police Officer 3', 2421)]

How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)

In [40]:
#print(sum(df[df['Year']==2013]['JobTitle'].value_counts()==1))
df6=df[df['Year']==2013]
df7=df6['JobTitle'].value_counts()==1
print(df7.sum())

202

How many people have the word Chief in their job title? (This is pretty tricky)

In [34]:
def chief(title):
    if 'chief' in title.lower():
        return True
    else:
        return False
df['c']=df['JobTitle'].apply(chief)
print(df['c'].value_counts()[1])

627

C:\Users\DELL\AppData\Local\Temp\ipykernel_33876\853119442.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(df['c'].value_counts()[1])

Q12: Bonus: Is there a correlation between length of the Job Title string and Salary?

In [23]:
df['job_title_len']=df['JobTitle'].apply(len)
df[['TotalPayBenefits','job_title_len']].corr()

                  TotalPayBenefits  job_title_len
TotalPayBenefits          1.000000      -0.036878
job_title_len            -0.036878       1.000000