Ecommerce Purchases Exercise
In this Exercise you will be given some Fake Data about some purchases done through Amazon! Just go ahead and follow the directions and try your best to answer the questions and complete the tasks. Feel free to reference the solutions. Most of the tasks can be solved in different ways. For the most part, the questions get progressively harder.

Please excuse anything that doesn't make "Real-World" sense in the dataframe, all the data is fake and made-up.

Also note that all of these questions can be answered with one line of code.

In [1]:
import pandas as pd
import numpy as np

In [5]:
dataframe=pd.read_csv(r"D:\datasets2\Ecommerce Purchases.txt",sep=",")
print(dataframe)

                                                Address    Lot AM or PM  \
0     16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  46 in       PM
1     9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  28 rn       PM
2                      Unit 0065 Box 5052\nDPO AP 27450  94 vE       PM
3                 7780 Julia Fords\nNew Stacy, WA 45798  36 vm       PM
4     23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...  20 IE       AM
...                                                 ...    ...      ...
9995      966 Castaneda Locks\nWest Juliafurt, CO 96415  92 XI       PM
9996  832 Curtis Dam Suite 785\nNorth Edwardburgh, T...  41 JY       AM
9997              Unit 4434 Box 6343\nDPO AE 28026-0283  74 Zh       AM
9998               0096 English Rest\nRoystad, IA 12457  74 cL       PM
9999     40674 Barrett Stravenue\nGrimesville, WI 79682  64 Hr       AM

                                           Browser Info  \
0     Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...
1     Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...
2     Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...
3     Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...
4     Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...
...                                                 ...
9995  Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...
9996  Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...
9997  Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...
9998  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...
9999  Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...

                              Company       Credit Card CC Exp Date  \
0                     Martinez-Herman  6011929061123406       02/20
1     Fletcher, Richards and Whitaker  3337758169645356       11/18
2          Simpson, Williams and Pham      675957666125       08/19
3     Williams, Marshall and Buchanan  6011578504430710       02/24
4           Brown, Watson and Andrews  6011456623207998       10/25
...                               ...               ...         ...
9995                    Randall-Sloan   342945015358701       03/22
9996         Hale, Collins and Wilson   210033169205009       07/25
9997                     Anderson Ltd  6011539787356311       05/21
9998                         Cook Inc   180003348082930       11/17
9999                       Greene Inc  4139972901927273       02/19

      CC Security Code                  CC Provider  \
0                  900                 JCB 16 digit
1                  561                   Mastercard
2                  699                 JCB 16 digit
3                  384                     Discover
4                  678  Diners Club / Carte Blanche
...                ...                          ...
9995               838                 JCB 15 digit
9996               207                 JCB 16 digit
9997                 1                VISA 16 digit
9998               987             American Express
9999               302                 JCB 15 digit

                               Email                                     Job  \
0                  pdunlap@yahoo.com  Scientist, product/process development
1                 anthony41@reed.com                       Drilling engineer
2     amymiller@morales-harrison.com                Customer service manager
3        brent16@olson-robinson.info                       Drilling engineer
4        christopherwright@gmail.com                             Fine artist
...                              ...                                     ...
9995          iscott@wade-garner.com                              Printmaker
9996              mary85@hotmail.com                         Energy engineer
9997               tyler16@gmail.com                      Veterinary surgeon
9998         elizabethmoore@reid.net                Local government officer
9999           rachelford@vaughn.com                  Embryologist, clinical

           IP Address Language  Purchase Price
0     149.146.147.205       el           98.14
1        15.160.41.51       fr           70.73
2      132.207.160.22       de            0.95
3        30.250.74.19       es           78.04
4        24.140.33.94       es           77.82
...               ...      ...             ...
9995    29.73.197.114       it           82.21
9996   121.133.168.51       pt           25.63
9997    156.210.0.254       el           83.98
9998     55.78.26.143       es           38.84
9999  176.119.198.199       el           67.59

[10000 rows x 14 columns]

1.Check the head of the DataFrame.

In [7]:
dataframe.head(0)

Empty DataFrame
Columns: [Address, Lot, AM or PM, Browser Info, Company, Credit Card, CC Exp Date, CC Security Code, CC Provider, Email, Job, IP Address, Language, Purchase Price]
Index: []

In [11]:
dataframe.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

2. How many rows and columns are there?

In [12]:
rows_columns=dataframe.shape
print(f"No of rows in dataframe : {rows_columns[0]}")
print(f"No of columns in dataframe : {rows_columns[1]}")

No of rows in dataframe : 10000
No of columns in dataframe : 14

3.What is the average Purchase Price?

In [13]:
print(f"Average puchace price: {dataframe['Purchase Price'].mean()}")

Average puchace price: 50.347302

4.What were the highest and lowest purchase prices?

In [14]:
print(f"highest puchace price: {dataframe['Purchase Price'].max()}")
print(f"lowest puchace price: {dataframe['Purchase Price'].min()}")

highest puchace price: 99.99
lowest puchace price: 0.0

5.How many people have English 'en' as their Language of choice on the website?

In [15]:
print(f"the no of people who have english as their language choice on the website: {(dataframe['Language']=='en').sum()}")

the no of people who have english as their language choice on the website: 1098

6.How many people have the job title of "Lawyer" ?

In [16]:
print(f"the no. of people who ave their job title as lawyer: {(dataframe['Job']=='Lawyer').sum()}")

the no. of people who ave their job title as lawyer: 30

7.How many people made the purchase during the AM and how many people made the purchase during PM ?

In [19]:
print(f"the number of people who purchase during AM : {(dataframe['AM or PM']=='AM').sum()}")
print(f"the number of people who purchase during PM : {(dataframe['AM or PM']=='PM').sum()}")

the number of people who purchase during AM : 4932
the number of people who purchase during PM : 5068

8.What are the 5 most common Job Titles?

In [29]:
# value_counts and sort_values function here
job_titles=dataframe['Job'].value_counts().sort_values(ascending=False)
print(f"the five most common job titles are: {list(job_titles[:5].index)}")

the five most common job titles are: ['Interior and spatial designer', 'Lawyer', 'Social researcher', 'Purchasing manager', 'Designer, jewellery']

9.Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?

In [45]:
lot_90_WT=dataframe[dataframe['Lot']=='90 WT']
print(f"the purchase price for lot '90 WT' is: {lot_90_WT['Purchase Price'].values}")

the purchase price for lot '90 WT' is: [75.1]

10.What is the email of the person with the following Credit Card Number: 4926535242672853

In [34]:
email_for_particula_credit_card=dataframe[dataframe['Credit Card']==4926535242672853]
print(f"the email for credit card number 4926535242672853: {email_for_particula_credit_card['Email'].values}")

the email for credit card number 4926535242672853: ['bondellen@williams-garza.com']

11.How many people have American Express as their Credit Card Provider and made a purchase above $95 ?

In [42]:
American_express_and_purchase_above_95=dataframe[(dataframe['CC Provider']=='American Express') & (dataframe['Purchase Price']>90.0)].shape[0]
print(F"the no of people who have American Express as their Credit Card Provider and made a purchase above $95: {American_express_and_purchase_above_95}")

the no of people who have American Express as their Credit Card Provider and made a purchase above $95: 86

In [37]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

12.How many people have a credit card that expires in 2025?

In [43]:
print(f"the no of people who have their credit card that expires in 2025: {(dataframe['CC Exp Date']=='2025').sum()}")

the no of people who have their credit card that expires in 2025: 0

13.What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)

In [50]:
def email_provider(df):
    return df['Email'].split("@")[1]

dataframe['email_provider']=dataframe.apply(email_provider,axis=1)

# top 5 common mails 
# value_counts and sort_values function here
print(list(dataframe['email_provider'].value_counts().sort_values(ascending=False).index[:5]))

['hotmail.com', 'yahoo.com', 'gmail.com', 'smith.com', 'williams.com']