In [39]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score

1.Sample problem of predicting home price in monroe, new jersey (USA)
Below is the table containing home prices in monroe twp, NJ. Here price depends on area (square feet), bed rooms and age of the home (in years). Given these prices we have to predict prices of new homes based on area, bed rooms and age.

Find price of home with 3000 sqr ft area, 3 bedrooms, 40 year old

A. 498408.25158031

Find price of home with 2500 sqr ft area, 4 bedrooms, 5 year old

A.578876.03748933

In [48]:
df1=pd.read_csv(r"D:\datasets2\homeprices2.csv")

In [49]:
print(df1)

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [50]:
df1['bedrooms']=df1['bedrooms'].fillna(df1['bedrooms'].mean())

In [51]:
df1

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.2   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [52]:
X=df1.iloc[:,:-1]
y=df1.iloc[:,-1]

In [53]:
model1=LinearRegression()
model1.fit(X,y)

LinearRegression()

In [55]:
prediction_for_houseprices=model1.predict(X)
#print(accuracy_score(y,prediction_for_houseprices))
print(prediction_for_houseprices)

[517680.56257679 601483.40843428 617541.31379815 597592.55691169
 762639.45982935 793062.69844975]

In [56]:
print(model1.predict([[3000,3,40]]))

[490833.34243748]

C:\Users\DELL\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [57]:
print(model1.predict([[2500,4,5]]))

[579906.16685223]

C:\Users\DELL\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

2.there is hiring.csv. This file contains hiring statics for a firm such as experience of candidate, his written test score and personal interview score. Based on these 3 factors, HR will decide the salary. Given this data, you need to build a machine learning model for HR department that can help them decide salaries for future candidates. Using this predict salaries for following candidates,

2 yr experience, 9 test score, 6 interview score

12 yr experience, 10 test score, 10 interview score

Answer
53713.86 and 93747.79

In [22]:
df2=pd.read_csv(r"D:\datasets2\hiring.csv")

In [23]:
print(df2)

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [25]:
df2['test_score(out of 10)']=df2['test_score(out of 10)'].fillna(df2['test_score(out of 10)'].mean())

In [26]:
df2

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN               8.000000                           9      50000
1        NaN               8.000000                           6      45000
2       five               6.000000                           7      60000
3        two              10.000000                          10      65000
4      seven               9.000000                           6      70000
5      three               7.000000                          10      62000
6        ten               7.857143                           7      72000
7     eleven               7.000000                           8      80000

In [29]:
def convert_to_number(nums):
    if nums=='one':
        return 1
    elif nums=='two':
        return 2
    elif nums=='three':
        return 3
    elif nums=='four':
        return 4
    elif nums=='five':
        return 5
    elif nums=='six':
        return 6
    elif nums=='seven':
        return 7
    elif nums=='eight':
        return 8
    elif nums=='nine':
        return 9
    elif nums=='ten':
        return 10
    elif nums=='eleven':
        return 11

In [30]:
df2['experience']=df2['experience'].apply(convert_to_number)

In [32]:
df2['experience']=df2['experience'].fillna(df2['experience'].mean())

In [61]:
df2['experience']=[int(i) for i in df2['experience']]
df2['test_score(out of 10)']=[int(i) for i in df2['test_score(out of 10)']]

In [62]:
df2

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           6                      8                           9      50000
1           6                      8                           6      45000
2           5                      6                           7      60000
3           2                     10                          10      65000
4           7                      9                           6      70000
5           3                      7                          10      62000
6          10                      7                           7      72000
7          11                      7                           8      80000

In [63]:
X=df2.iloc[:,:-1]
y=df2.iloc[:,-1]

In [64]:
model2=LinearRegression()
model2.fit(X,y)

LinearRegression()

In [65]:
prediction_for_salaries=model2.predict(X)
# print(accuracy_score(y,prediction_for_salaries))
print(prediction_for_salaries)

[65897.22668645 57071.90835291 54688.507026   59791.98087938
 61171.71467425 58990.31606709 70286.06749907 76102.27881485]

In [66]:
print(model2.predict([[2,9,6]]))

[46799.52198459]

C:\Users\DELL\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [68]:
print(model2.predict([[12,10,10]]))

[88536.36625871]

C:\Users\DELL\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(