Spark Walmart Data Analysis Project

Let's get some quick practice with your new Spark DataFrame skills, you will be asked some basic questions about some stock market data, in this case Walmart Stock from the years 2012-2017. This exercise will just ask a bunch of questions, unlike the machine learning exercises, which will be a little looser and be in the form of "Consulting Projects".

1.Load the Walmart Stock CSV File, have Spark infer the data types.

In [10]:
import pandas as pd 
import numpy as np

In [11]:
dataframe=pd.read_csv(r"D:\datasets2\walmart_stock.csv")
print(dataframe)

            Date       Open       High        Low      Close    Volume  \
0     2012-01-03  59.970001  61.060001  59.869999  60.330002  12668800
1     2012-01-04  60.209999  60.349998  59.470001  59.709999   9593300
2     2012-01-05  59.349998  59.619999  58.369999  59.419998  12768200
3     2012-01-06  59.419998  59.450001  58.869999  59.000000   8069400
4     2012-01-09  59.029999  59.549999  58.919998  59.180000   6679300
...          ...        ...        ...        ...        ...       ...
1253  2016-12-23  69.430000  69.750000  69.360001  69.540001   4803900
1254  2016-12-27  69.300003  69.820000  69.250000  69.699997   4435700
1255  2016-12-28  69.940002  70.000000  69.260002  69.309998   4875700
1256  2016-12-29  69.209999  69.519997  69.120003  69.260002   4298400
1257  2016-12-30  69.120003  69.430000  68.830002  69.120003   6889500

      Adj Close
0     52.619235
1     52.078475
2     51.825539
3     51.459220
4     51.616215
...         ...
1253  69.032411
1254  69.191240
1255  68.804087
1256  68.754456
1257  68.615479

[1258 rows x 7 columns]

In [12]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258 entries, 0 to 1257
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1258 non-null   object
 1   Open       1258 non-null   float64
 2   High       1258 non-null   float64
 3   Low        1258 non-null   float64
 4   Close      1258 non-null   float64
 5   Volume     1258 non-null   int64
 6   Adj Close  1258 non-null   float64
dtypes: float64(5), int64(1), object(1)
memory usage: 68.9+ KB

2.What are the column names?

In [13]:
print(dataframe.columns)

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close'], dtype='object')

3.What does the Schema look like

In [14]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258 entries, 0 to 1257
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1258 non-null   object
 1   Open       1258 non-null   float64
 2   High       1258 non-null   float64
 3   Low        1258 non-null   float64
 4   Close      1258 non-null   float64
 5   Volume     1258 non-null   int64
 6   Adj Close  1258 non-null   float64
dtypes: float64(5), int64(1), object(1)
memory usage: 68.9+ KB

4.Print out the first 5 columns

In [15]:
dataframe.head()

         Date       Open       High        Low      Close    Volume  Adj Close
0  2012-01-03  59.970001  61.060001  59.869999  60.330002  12668800  52.619235
1  2012-01-04  60.209999  60.349998  59.470001  59.709999   9593300  52.078475
2  2012-01-05  59.349998  59.619999  58.369999  59.419998  12768200  51.825539
3  2012-01-06  59.419998  59.450001  58.869999  59.000000   8069400  51.459220
4  2012-01-09  59.029999  59.549999  58.919998  59.180000   6679300  51.616215

5.Use describe() to learn about the DataFrame.

In [16]:
dataframe.describe()

,Open,High,Low,Close,Volume,Adj Close
count,1258.000000,1258.000000,1258.000000,1258.000000,1.258000e+03,1258.000000
mean,72.357854,72.839388,71.918601,72.388450,8.222093e+06,67.238838
std,6.768090,6.768187,6.744076,6.756859,4.519781e+06,6.722609
min,56.389999,57.060001,56.299999,56.419998,2.094900e+06,50.363689
25%,68.627503,69.059998,68.162503,68.632497,5.791100e+06,63.778335
50%,73.235000,73.725002,72.839996,73.265000,7.093500e+06,68.541162
75%,76.629997,77.094999,76.250000,76.709999,9.394675e+06,71.105668
max,90.800003,90.970001,89.250000,90.470001,8.089810e+07,84.914216

6.There are too many decimal places for mean and stddev in the describe() dataframe. Format the numbers to just show up to two decimal places. Pay careful attention to the datatypes that .describe() returns, we didn't cover how to do this exact formatting, but we covered something very similar.

In [18]:
df2=dataframe.describe()
print(df2.round(2))

          Open     High      Low    Close       Volume  Adj Close
count  1258.00  1258.00  1258.00  1258.00      1258.00    1258.00
mean     72.36    72.84    71.92    72.39   8222093.48      67.24
std       6.77     6.77     6.74     6.76   4519780.84       6.72
min      56.39    57.06    56.30    56.42   2094900.00      50.36
25%      68.63    69.06    68.16    68.63   5791100.00      63.78
50%      73.24    73.73    72.84    73.26   7093500.00      68.54
75%      76.63    77.09    76.25    76.71   9394675.00      71.11
max      90.80    90.97    89.25    90.47  80898100.00      84.91

Create a new dataframe with a column called HV Ratio that is the ratio of the High Price versus volume of stock traded for a day.

In [21]:
dataframe.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Volume       0
Adj Close    0
dtype: int64

In [25]:
def hv_ratio(df):
    return df['High']/df['Volume']
dataframe['hv_ratio']=dataframe.apply(hv_ratio,axis=1)           # created a new column using apply function
dataframe_hv_ratio=dataframe['hv_ratio']
dataframe_hv_ratio.head(20)                            # used head(20) to get the top 20 rows

0     0.000005
1     0.000006
2     0.000005
3     0.000007
4     0.000009
5     0.000009
6     0.000009
7     0.000008
8     0.000008
9     0.000007
10    0.000010
11    0.000007
12    0.000006
13    0.000009
14    0.000008
15    0.000010
16    0.000008
17    0.000010
18    0.000008
19    0.000006
Name: hv_ratio, dtype: float64

8.What day had the Peak High in Price?

In [29]:
high_peak=dataframe['High'].max()
ans=dataframe[dataframe['High']==high_peak]   # simply put a condition to get the answer
print(ans.Date)

761    2015-01-13
Name: Date, dtype: object

9.What is the max and min of the Volume column?

In [30]:
vol_max=dataframe['Volume'].max()  #used max aggregate function
vol_min=dataframe['Volume'].min()  # used min aggregate function
print(f"volume max: {vol_max} volume min: {vol_min}")

volume max: 80898100 volume min: 2094900

10.How many days was the Close lower than 60 dollars?

In [33]:
ans=dataframe['Close']<60   # simply put a condition a specific column
print(ans.sum())

81

11.What percentage of the time was the High greater than 80 dollars ?

In [34]:
ans=dataframe['High']>80   # simply put a condition on a specific column
total_count=ans.count()
greater_than_80=ans.sum()
print((greater_than_80/total_count)*100)  # found out the percentage by using the formula

9.141494435612083

12.What is the Pearson correlation between High and Volume?

In [36]:
from scipy.stats import pearsonr  # imported pearsonr from scipy.stats
corr,_=pearsonr(dataframe['High'],dataframe['Volume'])
print(corr)

-0.33843260617371657

13.What is the max High per year?

In [48]:
def year(df):
    return df['Date'].split("-")[0]
dataframe['year']=dataframe.apply(year,axis=1)

max_year_high=dataframe.groupby('year')         # used group by and max aggregate function 
print(max_year_high['High'].max())

year
2012    77.599998
2013    81.370003
2014    88.089996
2015    90.970001
2016    75.190002
Name: High, dtype: float64

What is the average Close for each Calendar Month?
In other words, across all the years, what is the average Close price for Jan,Feb, Mar, etc... Your result will have a value for each of these months.

In [47]:
def month(df):
    return df['Date'].split("-")[1]

dataframe['month']=dataframe.apply(month,axis=1)
#print(dataframe)

avg_month_close=dataframe.groupby('month')
#print(avg_month_close)

avg_month_close=avg_month_close['Close'].mean()        # used group by and mean aggregate function
print(avg_month_close)

month
01    71.448020
02    71.306804
03    71.777944
04    72.973619
05    72.309717
06    72.495377
07    74.439719
08    73.029819
09    72.184118
10    71.578545
11    72.111089
12    72.847925
Name: Close, dtype: float64